{% extends 'POPAdminBundle::layout.html.twig' %}

{% block admin_body %}
    <h1>Agence list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Logo</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td><a href="{{ path('agence_show', { 'id': agence.id }) }}">{{ agence.id }}</a></td>
                <td>{{ agence.nom }}</td>
                <td>{{ agence.logo }}</td>
                <td>{{ agence.tel }}</td>
                <td>{{ agence.email }}</td>
                <td>{{ agence.longitude }}</td>
                <td>{{ agence.latitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agence_show', { 'id': agence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agence_edit', { 'id': agence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agence_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
