{% extends 'POPAdminBundle::layout.html.twig' %}

{% block admin_body %}
    <h1>Pays</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if pay.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ pay.dateCreation|date }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pays_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pays_edit', { 'id': pay.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
