{% extends 'POPAdminBundle::layout.html.twig' %}

{% block admin_body %}
    <h1>Region list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actif</th>
                <th>Datecreation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td><a href="{{ path('region_show', { 'id': region.id }) }}">{{ region.id }}</a></td>
                <td>{{ region.nom }}</td>
                <td>{% if region.actif %}Yes{% else %}No{% endif %}</td>
                <td>{% if region.dateCreation %}{{ region.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('region_show', { 'id': region.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('region_edit', { 'id': region.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('region_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
